
SourceCode/.vs/RabbitMQ/DesignTimeBuild/.dtbcache.v2
SourceCode/.vs/ProjectEvaluation/rabbitmq.metadata.v5.2
SourceCode/.vs/ProjectEvaluation/rabbitmq.projects.v5.2
SourceCode/.vs/RabbitMQ/v17/.futdcache.v2
SourceCode/.vs/RabbitMQ/v17/.suo
